@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Mente Sana</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table class="table table-hover">
        <tr>
            <td>
                <a asp-action="IngresoInformacion" asp-controller="AgregarArchivo" class="btn btn-primary btn-sm">Agregar Informacion Mediante Archivo</a>

            </td>
          
            <td>
            <a asp-action="Manual" asp-controller="AgregarManual" class="btn btn-primary btn-sm">Agregar Informacion Mediante Manualmente</a>
            </td>
        </tr>
        <tr>
        <td>
            <a asp-action="IngresoInformacion" asp-controller="AgregarArchivo" class="btn btn-primary btn-sm">Busqueda por Nombre</a>
        </td>
        <td>
            <a asp-action="IngresoInformacion" asp-controller="AgregarArchivo" class="btn btn-primary btn-sm">Busqueda por DPI</a>
        </td>
</tr>
</table>
