@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Mente Sana</h1>
</div>

<table class="table table-hover">
       
    <tr>
        <td>
            <h2>Centro de Registro de Pacientes</h2>
        </td>
        
    </tr>
    <tr>

        <tr>
        <td>
            <h4>Agrega Pacientes Mendiante Archivo</h4>
        </td>
            <td>
                <a asp-action="IngresoInformacion" asp-controller="AgregarArchivo" class="btn btn-primary btn-sm">Agregar</a>
            </td>
        </tr>
    <tr>
        <td>
            <h4>Agrega Pacientes Manualmente</h4>
        </td>
            <td>
                <a asp-action="Manual" asp-controller="AgregarManual" class="btn btn-primary btn-sm">Agregar</a>
            </td>
    </tr>
    <tr>
        <td>
            <h4>Visualizacion Completa de Pacientes</h4>
        </td>
             <td>
            <a asp-action="ImprimirInformacion" asp-controller="VisualizacionArchivos" class="btn btn-primary btn-sm">Visualizar Informacion</a>
            </td>
        </tr>
</table>


<h1>&nbsp</h1>

<table class="table table-hover">

    <tr>
        <td>
            <h2>Centro de Busqueda de Pacientes</h2>
        </td>

    </tr>
    <tr>

    <tr>
        <td>
            <h4>Busqueda por Nombre</h4>
        </td>
        <td>
            <a asp-action="BuscarNombre" asp-controller="Busqueda" class="btn btn-primary btn-sm">Buscar</a>
        </td>
    </tr>
    <tr>
        <td>
            <h4>Busqueda por DPI</h4>
        </td>
        <td>
            <a asp-action="BuscarDPI" asp-controller="Busqueda" class="btn btn-primary btn-sm">Buscar</a>
        </td>
    </tr>
</table>


<h1>&nbsp</h1>

<table class="table table-hover" align="center">

    <tr>
        <td>
            <h2>Centro de Listado de Pacientes</h2>
        </td>

    </tr>
    <tr>

    <tr>
        <td>
            <h4>Lista Pacientes Sin Tratamiento</h4>
        </td>
        <td>
            <h4>6 Meses sin Consulta </h4>
        </td>
        <td>
            <a asp-action="Listado1" asp-controller="Listados" class="btn btn-primary btn-sm">Buscar</a>
        </td>
    </tr>
    <tr>
        <td>
            <h4>Lista Pacientes Tratamiento Congnitivo/Conductual</h4>
        </td>
        <td>
            <h4>1 Mes sin Consulta </h4>
        </td>
        <td>
            <a asp-action="Listado2" asp-controller="Listados" class="btn btn-primary btn-sm">Buscar</a>
        </td>
    <tr>
        <td>
            <h4>Lista Pacientes Tratamiento Gestaltica</h4>
        </td>
        <td>
            <h4>2 Meses sin Consulta </h4>
        </td>
        <td>
            <a asp-action="Listado3" asp-controller="Listados" class="btn btn-primary btn-sm">Buscar</a>
        </td>
    </tr>
    <tr>
        <td>
            <h4>Lista Pacientes Tratamiento Logoterapia/Psicodinamica</h4>
        </td>
        <td>
            <h4>2 Semanas sin Consulta </h4>
        </td>
        <td>
            <a asp-action="Listado4" asp-controller="Listados" class="btn btn-primary btn-sm">Buscar</a>
        </td>
    </tr>
    </tr>
</table>
